*{
  box-sizing: border-box;
}
nav {
  font-family: Segoe UI, sans-serif;
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  background-color: #f0f0f0;
  ul {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    li {
      padding-left: 10px;
      cursor: pointer;
      &:hover{
        color: #005cb3;
        border-left: 1px solid #005cb3;
      }
      .material-icons{
        font-size: 22px;
       vertical-align: bottom;
      }
    }
  }
}
